:root{
  --main-bg-color: pink;
  --page-bg-color: #333333;
  --content-color: #ffffff;
  --inactive-color: #b6b6b6;
  --element-bg-color: #1f1f1f;
  --nav-bg-color: #222222;
  --highlight-color: #9999ff;
  --btn-color: #151515;

  font-family: 'Open Sans', sans-serif;
}

tr:nth-child(even) {background-color: var(--btn-color);}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--page-bg-color);
}

p, h1, h5, table {
  color: var(--content-color);
  text-align: center;
}

h3{
  color: var(--highlight-color);
  text-align: center;
}

.home {
  background-image: url("../img/bg.gif");
  background-size: cover;
  position: absolute;
  z-index: 1;
  width:100%;
  height:100%;
}

.top{
  margin-left: 15%;
  margin-right: 15%;
  padding: 1em;
  background-color: var(--element-bg-color);
  position: relative;
}

.page{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-desc{
  color: var(--content-color);
  margin-top : 20%;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#home-btn{
  text-align: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 17%;
  display: flex;
}

#page-btn{
  text-align: center;
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
  width: 17%;
  display: flex;
}

.home-btn{
  background-color: black;
  padding: 1rem;
}

.credit{
  color: var(--content-color);
  text-align: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

footer ul{
  padding: 0;
}

/*----------------------------------*/
/*----------BOUTONS IMPORTES--------*/
/*----------------------------------*/
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.25em);
}

.raise{
  color: var(--inactive-color);
  position: relative; 
  width: 80px;
  height: 40px;
  border: solid black 1px;
  box-shadow: 0 0 0 0 white;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: color .3s ease-in;
  color: var(--highlight-color);
  transition: transform .3s;
}

.pulse{
  color: var(--inactive-color);
  position: relative;
  width: 80px;
  height: 40px;
  border: solid black 1px;
  background-color: var(--btn-color);
  box-shadow: 0 0 0 0 rgb(153, 153, 255, 0.7);
  cursor: pointer;
  transition: color .3s ease-in;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none; 
  color: var(--inactive-color);
}

.pulse:hover{
  color: var(--highlight-color);
  -webkit-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button {

  color: var(--inactive-color);
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgb(153, 153, 255, 1.25);
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: color .3s ease-in;
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.pulse-button:hover 
{
  color: var(--highlight-color);
  -webkit-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);}}

/*----------------------------------*/
/*----------BOUTONS IMPORTES--------*/
/*----------------------------------*/

/*----------------------------------*/
/*---------SELECT SPECIAL------------*/
/*----------------------------------*/

/* Reset Select */
select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--page-bg-color);
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: var(--page-bg-color);
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: var(--page-bg-color);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* */
/* TEST */
/* */

.menu{
  text-align: center;
  position: sticky;
  bottom: 0;
}

.menu .burger:hover{
  color: var(--highlight-color);
}
.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:var(--content-color);
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  position:sticky;
  text-align:center;
  transition: color .3s ease-in;
}

.btn-map{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  cursor:pointer;
  background-image: url(img/map-icon.svg);
}

.menu .burger:before
{
  content:'menu';
}

.menu .burger:checked:before
{
  content:'close';
}

.menu .burger:checked + nav
{
  height:calc(26vh - 50px);
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .5s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

/* */
/* TEST */
/* */

.home-link{
  padding: 1rem 2rem;
}

h1{
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--inactive-color);
  transition: color .3s ease-in;
}

a:hover{
  color: var(--highlight-color);
}

nav{
  background-color: var(--nav-bg-color);
}

ul{
  list-style-type: none ;
}

.nav {
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.nav-item {
  float: left;
}

.nav-item a{
  display: block;
  color: grey;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 14px 50px;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;
}

.nav-item a:hover{
  color: white;
}

.nav-site{
  padding: 14px 160px 0 16px;
}

#nav-search{
  padding: 16px 16px 0 94px;
  display: inline;
}

.bg{
  background-color: var(--main-bg-color);
}

.form-inline{
  padding: 0px 16px;
}

#btn{
  height: 34px;
  width: 34px;
  margin-top: 14px;
  margin-right: 16px;
  text-align: center;
  padding: 0 15px 0 0;
}

button:hover{
  cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
  background-color: #111;
}

.content-home{
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

html{
  height: 100%;
}
footer {
  color : var(--content-color);
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.searchmap{
  display: flex;
  margin-left: auto;
  margin-bottom: 2em;
  width: 13%;
  margin-right: auto;
}

.side{
  width: 20%;
  margin-left: 5%;
  max-height: 460px;
  text-align: center;
  background-color: var(--element-bg-color);
  color: var(--content-color);
  box-shadow: 0 0 20px 10px var(--highlight-color);
  border: 1px solid black;
}

.side .pulse{
  margin-top:1em;
}

.bigside{
  width: 65%;
  margin-left:5%;
  height: 678px;
  background-color: var(--element-bg-color);
  border: 1px solid black;
  box-shadow: 0 0 20px 10px var(--highlight-color);
  overflow-y: scroll;

}

#mapid{
  height:600px;
  overflow: hidden;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#load {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  text-align: center;
  color: var(--highlight-color);
}

.bigside #load{
  margin-top: 23.5%;
}

.mid-side #load{
  margin-top: 38%;
}

.mid-side{
  width: 40%;
  margin-left: 5%;
  height: 678px;
  background-color: var(--element-bg-color);
  overflow-y: scroll;
  border: 1px solid black;
  box-shadow: 0 0 20px 10px var(--highlight-color);
}

#table-col-desc{
  text-align: center;
  position: sticky;
  background-color: grey;
}

table a{
  display: block;
  width: 100%;
}

#table-col-desc td{
  padding: 1em 0;
}

.content-inline{
  display:flex;
}

#domaine {
  width: 21.8%;
}

#formation {
  width: 20.7%;
}

#etablissement {
  width: 32.5%;
}

#departement {
  width : 12.1%;
}

#carte {
  padding: 0 0.6em 0 0;
  width: 15%;
}

table {
  width: 100%;
}

td{
  text-align: center
}

.side select{
  width: 80%;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.no-display{
  display: none;
}
